body {
  font-family: Overlock SC, sans-serif;
  text-align: center;
  background-color: black;
  color: thistle;
}

table {
  border-collapse: separate;
  border-spacing: 7px;
  margin: 20px auto;
}

td {
  width: 33px;
  height: 33px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #000000;
}

td:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: yellow;
}

.found {
  background-color: limegreen;
  color: rgb(0, 0, 0);
}

.missed {
  background-color: red !important;
  color: rgb(0, 0, 0);
}

#slova {
  font-weight: bold;
  margin: 10px;
  color: rgb(255, 255, 255);
}

#vysledek {
  margin-top: 20px;
  font-size: 18px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Above the word */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
